---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../components/BaseLayout.astro';

type Props = CollectionEntry<'projects'>['data']

const projects = (await getCollection('projects')).map((project) => project.data).sort((a, b) => {
    return new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime();
});

---

<BaseLayout >
<ul class="flex  flex-col items-center">
    {projects.map((project) => (
        <div class="flex flex-col border-2 w-full gap-2 mb-2 items-start">
            <a href={project.projectLink}
            rel="noopener noreferrer"
            class="text-2xl text-black dark:text-white ">{project.title} </a>

 <img
                src={project.heroImage}
                alt={project.title}
                class="w-full h-full object-cover"
            />
          <div class="flex flex-row
            w-full gap-2
          ">

           <div class="flex flex-col w-full gap-2 p-1 items-start">
             <p

                class='text-sm '
             >{project.description}

                </p>
                <h3 class="text-sm underline">Technologies:</h3>
               <p
               class="flex flex-row gap-2"
               >
                 {project.tags.map((tag:string) => (
                    <span class="p-1 text-xs border w-fit h-fit text-gray-500">{tag}</span>
                ))}
                </p>
                <h3 class="text-sm underline">Implementations:</h3>
                {project.implementations.map((
                    item: string
                )=> (

                    <p
                    class="text-sm"
                    >{item}</p>
                ))}
                </div>

                </div>
                <div class="flex flex-row w-full gap-2 border-t-2 p-2">
                    <div
                        class="flex flex-row  w-full gap-2 items-center"
                    >
                        <p class="text-sm underline">Code:</p>
                        <a
                         target='_blank'
          rel='noopener noreferrer'
                        href={project.githubLink} class="text-blue-500">Github</a>

                        </div>
                       <div
                          class="flex flex-row  w-full gap-2 items-center"
                       >
                         <p class="text-sm underline">Live URL:</p>
                        <a
                         target='_blank'
          rel='noopener noreferrer'
                        href={project.projectLink} class="text-blue-500">Live</a>
                        </div>
                      <div class="flex flex-row w-full gap-2 items-center">

                        <p class="text-sm underline">Date:

                        </p>
                      <p class="text-sm">
                           {project.pubDate}</p>

                        </div>
                    </div>
        </li>
    ))}
</ul>

		</BaseLayout>
