---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'


type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props

  console.log(heroImage);

---

<html lang='en'>
  <head>
    <BaseHead
      title={title}
      description={description}
    />
  </head>

  <body class='flex flex-col dark:bg-slate-800 text-black dark:text-white'>
    <Header />
    <div class='flex flex-row w-full text-black dark:text-white'>
      <main class='flex-grow text-black dark:text-white'>
        <article class='flex flex-col gap-4 p-4 text-black dark:text-white'>

          <div class='flex flex-row gap-2 justify-between text-black dark:text-white'>
            <h1 class='text-black dark:text-white title'>{title}</h1>

            {
              updatedDate && (
                <div class='last-updated-on text-black dark:text-white'>
                  Last updated on
                  {updatedDate}
                </div>
              )
            }
          </div>
          <hr />
          <div class='flex flex-row gap-2 items-center text-black dark:text-white'>
			     {
            heroImage && (
             <div
			 	class='w-24 h-24 '
			 >
				 <img
				 class='w-full h-full object-contain'
                // 		width={720}
                // height={360}
                src={heroImage}
                alt='here is the post image'
              />
			  </div>
            )
          }
            <div class='flex flex-col gap-2'>
               <p class='text-sm text-gray-500 underline'>
              Tags
              </p>
				<div class="flex flex-row gap-2">
          {
              tags?.map((tag) => (
                <a
                  href={`/blog/tags/${tag}`}
                  class='flex border-2 rounded-md p-1 w-fit h-fit text-sm text-black dark:text-white'
                >
                  {tag}
                </a>
              ))
            }
        </div>
			</div>
          </div>
          <hr />
          <slot
          class='prose prose-stone prose-sm sm:prose lg:prose-lg xl:prose-2xl text-black dark:text-white'

          />
        </article>
      </main>
    </div>
    <Footer />
  </body>
</html>
